{{#> layout}}
{{#*inline "head"}}
<title>My Bets - {{@websiteName}}</title>
<style>
.not-betted {
    background-color: #e6ff99;
}
@keyframes pulse-success {
    0%, 100% { background-color: white; }
    30% { background-color: #76FF7A; }
}
.autosave-success {
    animation: pulse-success 1s;
}
@keyframes pulse-error {
    0%, 100% { background-color: white; }
    30% { background-color: #DC381F; }
}
.autosave-error {
    animation: pulse-error 1s;
}
</style>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}

<input type="hidden" name="_csrf" value="{{csrfToken}}">
<input type="hidden" name="_action" value="/save_bet">
<div class="container top-70">

<h2 class="text-color-white">Cược của tôi</h2>

{{#if (gt upcomingMatchesWithoutBet 0)}}
<div class="alert alert-warning">
    <strong>Bạn nên đặt cược cho các trận đấu sắp tới!</strong>
</div>
{{/if}}

{{#each matches}}
<div class="row autosave" style="background:url(/board-background.png) repeat fixed;margin: 50px;padding: 50px;border-radius: 10px; padding-top: 100px; padding-bottom:100px">
    <div class="col-md-2 col-6 order-md-1 order-1 small text-color-white" style="
    margin-top: auto;
    margin-bottom: auto;
">
        <span class="d-none d-lg-inline">{{calendar starts_at}}</span>
        <span class="d-lg-none">{{calendarShort starts_at}}</span>
    </div>
    <div class="col-md-3 col-6 order-md-1 order-2 text-right">
        {{#if home_team_name}}
            <div
            style="
            display: inline-grid;
            text-align: center;
            "
            >
                <img src="https://countryflagsapi.com/png/{{{home_team_name}}}" style="
                     height: 70px;
                     width: 100px;
                     border-radius: 8px;
                     border: 1px solid;
                ">
                <strong class="text-color-white">{{home_team_name}}</strong>
            </div>
        {{else}}
            <strong class="text-color-white">{{placeholder_home}}</strong>
        {{/if}}
    </div>
    <div class="col-auto order-md-2 order-3 text-center m-auto m-md-0" style="display: flex;">
        <input type="number" min="0" max="20" autocomplete="off"
            {{#if (not has_teams)}}disabled{{/if}}
            class="form-control text-center {{#if (contains @upcomingMatchesWithoutBetIds id) }}not-betted{{/if}}"
            style="display:inline;width:80px;margin-top: auto;
    margin-bottom: auto;" name="home" value="{{bet_goals_home}}">
        <input type="hidden" name="match" value="{{id}}">
        <div style="display:inline;margin-top: auto;
    margin-bottom: auto;">:</div>
        <input type="number" min="0" max="20" autocomplete="off"
            {{#if (not has_teams)}}disabled{{/if}}
            class="form-control text-center {{#if (contains @upcomingMatchesWithoutBetIds id) }}not-betted{{/if}}"
            style="display:inline;width:80px;margin-top: auto;
    margin-bottom: auto;" name="away" value="{{bet_goals_away}}">
    </div>
    <div class="col-md-3 col-6 order-md-3 order-2 text-left text-color-white">
        {{#if away_team_name}}
            <div
             style="
            display: inline-grid;
            text-align: center;
            "
            >
                <img src="https://countryflagsapi.com/png/{{{away_team_name}}}" style="
                     height: 70px;
                     width: 100px;
                     border-radius: 8px;
                     border: 1px solid;
                ">
                 <strong>{{away_team_name}}</strong>
            </div>
           
        {{else}}
            <strong>{{placeholder_away}}</strong>
        {{/if}}
    </div>
    <div class="col-md order-md-4 col-6 order-1 small text-right text-color-white" style="
    margin-top: auto;
    margin-bottom: auto;
">
        <span class="d-none d-lg-inline">{{match_type_name}}</span>
        <span class="d-lg-none">{{match_type_code}}</span>
        {{> score_factor match_type_score_factor}}
    </div>
</div>
{{/each}}

</div>

{{/inline}}
{{#*inline "scripts"}}
<script type="text/javascript" src="/static/js/save_bets.js"></script>
{{/inline}}
{{/layout}}
